/* styles/global.css */
@font-face {
  font-family: 'RefrigeratorDeluxeHeavy';
  src: url('/fonts/RefrigeratorDeluxeHeavy.woff2') format('woff2'),
       url('/fonts/RefrigeratorDeluxeHeavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* You can add some reset or global styles here if you like */
body, html, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
}